.blog-page-template {
  padding: 4rem;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  &__container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 275px auto;
    gap: 10rem;

    .left-column {
      .panel {
        border: 3px solid $black;
        border-radius: 1rem;
        width: 275px;
      }

      .blog-header {
        padding: 2rem;
        position: fixed;

        &__header {
          text-decoration: none;
          text-align: center;
          transition: all 250ms ease;

          .logo {
            font-size: 3.3rem;
            font-weight: bold;

            .million {
              &::before {
                background-color: $black;
                left: 2px;
                top: 0;
                width: 85%;
                transition: all 250ms ease;
              }
            }
          }
          .the-blog {
            font-size: 1.6rem;
            margin-top: 0.5rem;
          }

          &:hover {
            color: $mid-grey;
            .million::before {
              background-color: $mid-grey;
              transform: translateY(-2px);
            }
          }
          &:focus {
            outline: none;
          }
        }

        .social {
          position: initial;
          padding-top: 3.5rem;

          .link {
            svg {
              color: $black;
            }

            &:hover {
              svg {
                color: $mid-grey;
              }
            }
          }
        }

        &__back-to-site {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 2rem;
          text-decoration: none;

          svg {
            width: 1.5rem;
            margin-right: 1rem;
            transition: all 250ms ease;
          }
          p {
            font-size: 1.4rem;
            transition: all 250ms ease;
          }

          &:hover {
            color: $mid-grey;
            svg {
              transform: translateX(-2px);
            }
          }
        }
      }

      .blog-second-panel {
        text-align: center;
        font-size: 1.4rem;
        position: fixed;
        top: 27rem;

        &__title {
          font-size: 2.5rem;
          font-weight: bold;
          padding: 1rem 0;
          border-bottom: 3px solid $black;
          border-radius: 1rem;
        }

        &__body {
          padding: 2rem;

          .subheading {
            font-size: 1.2rem;
            color: $mid-grey;
            margin-bottom: 0.2rem;
          }

          .text {
            margin-bottom: 1.5rem;
            line-height: 2rem;
          }
        }
      }
    }

    .right-column {
      position: relative;

      .spinner {
        &__container {
          position: absolute;
          width: 100%;
          margin-top: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .blog-post-all {
        width: 100%;

        &__error {
          font-size: 3rem;
          font-weight: bold;
        }
        &__container {
          width: 100%;

          .blog-post-card {
            text-decoration: none;
            display: block;
            max-width: 600px;
            padding: 0 2rem;

            &__title {
              font-size: 2rem;
              color: $dark-grey;
              transition: all 250ms ease;
            }

            &__description {
              font-size: 1.6rem;
              line-height: 2.5rem;
              margin: 2rem 0;
              color: $dark-grey;
              transition: all 250ms ease;
            }

            &__date {
              font-size: 1.2rem;
              font-style: italic;
              text-align: right;
              color: $mid-grey;
            }

            &:hover {
              .blog-post-card {
                &__title,
                &__description {
                  color: $mid-grey;
                }
              }
            }
          }
          hr {
            width: 93%;
            max-width: 560px;
            height: 1px;
            margin: 1rem 0 4rem 2rem;
            padding: 0 2rem;
            background-color: $light-grey;
            border: none;
          }
        }
      }
    }
  }
}
