$black: #000;
$white: #fff;

$main-font: #dddbdb;
$background: #0c0c0c;
$light-grey: #cecece;

$mid-grey: #707070;
$dark-grey: #1d1d1d;
$highlight: #08fdd8;

@mixin glass {
  background-color: rgba(29, 29, 29, 0.8);

  @supports (backdrop-filter: blur()) {
    background-color: rgba(103, 103, 103, 0.2);
    backdrop-filter: blur(4px);
  }
}

/*
-----------------------------------------
BLOG => CODE COLOURS
-----------------------------------------
*/

// Shell
$bg: #17181a;
$comment: #8b8b8b;

$pastelPurple: #b6a6ff;
$pastelBlue: #84e6ff;
$pastelYellow: #fac96f;
$pastelGreen: #aefcb2;
