.home-page {
  &__container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;

    .right-column {
      height: 100%;

      &__container {
        width: 100%;
        height: 100%;
      }

      .animation-frame {
        width: 100%;
        position: absolute;

        &__container {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          align-items: center;
        }

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

#frame-1 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 1s;
}

#frame-2 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.2s;
}

#frame-3 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.4s;
}

#frame-4 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.6s;
}

#frame-5 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.8s;
}

@keyframes show {
  0% {
    visibility: visible;
  }
  20% {
    visibility: visible;
  }
  21% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
