.main-page-template {
  min-height: 100vh;
  width: 100%;
  position: relative;

  &__container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin-top: -2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

    .home-page-subtitle {
      font-size: 2.3rem;
      letter-spacing: 0.03rem;
      line-height: 3rem;
    }
  }

  &__left-column {
    width: 100%;
    height: 100%;

    &.flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-container {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 3rem;

    &.home-page-title {
      font-size: 5rem;
      // margin-top: 3rem;
    }
  }

  &__right-column {
    height: 100%;

    &-container {
      width: 100%;
      height: 100%;
    }

    .animation-frame {
      width: 100%;
      position: absolute;

      &__container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
      }

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}

/*
-----------------------------------------
ILLUSTRATION ANIMATION
-----------------------------------------
*/

#frame-1 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 1s;
}

#frame-2 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.2s;
}

#frame-3 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.4s;
}

#frame-4 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.6s;
}

#frame-5 {
  visibility: hidden;
  animation: 1s show infinite;
  animation-delay: 0.8s;
}

@keyframes show {
  0% {
    visibility: visible;
  }
  20% {
    visibility: visible;
  }
  21% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
