.main-page-template {
	min-height: 100vh;
	width: 100%;
	position: relative;

	&__container {
		position: relative;
		min-height: 100vh;
		width: 100%;
		margin-top: -2rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5rem;

		.home-page-subtitle {
			font-size: 2.3rem;
			letter-spacing: 0.03rem;
			line-height: 3rem;
			margin: 3rem 0;

			@include lg-screen {
				font-size: 2rem;
			}

			@include md-screen {
				font-size: 2.3rem;
			}

			@include xs-screen {
				font-size: 2rem;
				margin-top: 2rem;
			}

			@include xxs-screen {
				font-size: 1.8rem;
			}
		}

		&.about,
		&.home {
			@include md-screen {
				text-align: center;
				grid-template-columns: 1fr;
				min-height: initial;
				margin-top: 0;

				.animation-frame {
					left: 13%;
					top: -8rem;

					width: 75%;
				}
			}

			@include sm-screen {
				.animation-frame {
					width: 60%;
					left: 20%;
				}
			}

			@include xs-screen {
				.animation-frame {
					width: 80%;
					left: 10%;
				}
			}
		}

		&.skills {
			@include xs-screen {
				grid-template-columns: 1fr;
			}
		}
	}

	&__left-column {
		width: 100%;
		height: 100%;

		&.flex {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&-container {
			width: 100%;
			padding: 9rem 0;

			@include xxs-screen {
				padding-top: 5rem;
			}
		}
	}

	&__title {
		margin-bottom: 3rem;

		&.home-page-title {
			font-size: 5rem;
			margin-bottom: 0;

			@include lg-screen {
				font-size: 4rem;
			}
			@include md-screen {
				font-size: 5rem;
			}
			@include xs-screen {
				font-size: 4.2rem;
				line-height: 6rem;
			}
			@include xxs-screen {
				font-size: 3.2rem;
				line-height: 5rem;
			}
		}
		&.about-page-title {
			font-size: 5rem;

			@include lg-screen {
				font-size: 4rem;
			}
		}
	}

	&__right-column {
		height: 100%;

		&-container {
			width: 100%;
			height: 100%;
		}
	}
}

/*
-----------------------------------------
ILLUSTRATION ANIMATION
-----------------------------------------
*/

.animation-frame {
	width: 100%;
	position: absolute;

	&__container {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;

		&.skills {
			.animation-frame {
				width: initial;
				position: absolute;
				bottom: 0;
				right: -5rem;

				@include lg-screen {
					position: fixed;
					right: 0;
				}

				@include md-screen {
					position: fixed;
					right: 0rem;
				}

				@include sm-screen {
					width: 25%;
				}
				@include xs-screen {
					width: 35%;
					opacity: 0.8;
				}
			}
		}

		&.contact {
			width: 40%;
			height: 100%;
			height: initial;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 12rem;
			margin-left: 4rem;

			@include lg-screen {
				width: 55%;
			}

			@include md-screen {
				width: 45%;
			}

			@include sm-screen {
				width: 50%;
			}

			@include xs-screen {
				width: 75%;
			}

			@include xxs-screen {
				width: 90%;
				margin-top: 8rem;
			}
		}
	}

	svg {
		width: 100%;
		height: auto;
	}
}

#frame-1 {
	visibility: hidden;
	animation: 1s show infinite;
	animation-delay: 1s;
}

#frame-2 {
	visibility: hidden;
	animation: 1s show infinite;
	animation-delay: 0.2s;
}

#frame-3 {
	visibility: hidden;
	animation: 1s show infinite;
	animation-delay: 0.4s;
}

#frame-4 {
	visibility: hidden;
	animation: 1s show infinite;
	animation-delay: 0.6s;
}

#frame-5 {
	visibility: hidden;
	animation: 1s show infinite;
	animation-delay: 0.8s;
}

@keyframes show {
	0% {
		visibility: visible;
	}
	20% {
		visibility: visible;
	}
	21% {
		visibility: hidden;
	}
	100% {
		visibility: hidden;
	}
}
