.content {
  position: absolute;
}

.content-enter {
  opacity: 0;
  transform: translateY(10px);
}

.content-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
  transition-delay: 300ms;
}

.content-exit {
  opacity: 1;
  transform: scale(1);
}

.content-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms, transform 300ms;
}

/*
-----------------------------------------
PROJECT DETAIL PAGE
-----------------------------------------
*/

.project-detail-page {
  transition: all 300ms ease;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.fade-out {
    opacity: 0;
    transform: translateY(10px);
  }
}

/*
-----------------------------------------
BLOG
-----------------------------------------
*/

.blog-animate {
  position: absolute;
  transform: translateY(0);
}

.blog-animate-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease;
}

.blog-animate-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 300ms;
}

.blog-animate-exit {
  opacity: 1;
  transition: all 300ms ease;
}

.blog-animate-exit-active {
  opacity: 0;
  transform: translateY(10px);
}

.blog-loading-spinner-enter {
  opacity: 0;
}

.blog-loading-spinner-enter-active {
  opacity: 1;
}

.blog-loading-spinner-exit {
  opacity: 1;
}

.blog-loading-spinner-exit-active {
  opacity: 0;
  transition: all 300ms ease;
}
