.project-detail-page {
  padding-bottom: 8rem;

  &__header {
    padding-top: calc((100vh - 75rem) / 2);
    height: 100vh;
    letter-spacing: 0.02rem;

    .container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: 12rem;

      // LEFT COLUMN
      .heading {
        text-align: right;

        &__container {
          height: 77%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-inner {
            position: absolute;
            left: 0;
          }
        }

        .project-name {
          font-size: 4.5rem;
          margin-bottom: 2rem;
        }

        .project-subheading {
          font-size: 1.6rem;
        }
      }

      // RIGHT COLUMN
      .description {
        font-size: 1.6rem;
        line-height: 2.3rem;

        &__container {
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &__text {
          margin-bottom: 3rem;
        }

        &__links {
          width: 100%;
          max-width: 480px;
          display: flex;
          align-items: flex-start;

          p {
            display: inline-block;
            margin: 0 1rem;
          }
        }
      }
    }
  }

  /*
  -----------------------------------------
  SCREEN SHOTS
  -----------------------------------------
  */

  .screen-shots {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
    }

    &__desktop {
      width: 62%;
      bottom: -17%;
      z-index: 1;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    }

    &__tablet {
      width: 32%;
      bottom: -34%;
      right: 0;
    }

    &__mobile {
      width: 20%;
      bottom: -35%;
      left: 0;
    }
  }

  /*
  -----------------------------------------
  CUSTOM CONTENT
  -----------------------------------------
  */

  .custom-content {
    width: 100%;
    margin-top: 10rem;
    line-height: 2.15rem;
    letter-spacing: 0.03rem;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      margin-top: 5rem;
    }
    p {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }

    .project-body {
      width: 100%;
      line-height: 2.2rem;

      ul {
        list-style-type: none;
        padding-left: 1rem;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }

      .narrow {
        text-align: center;
        max-width: 600px;
        margin: 2rem auto;
        margin-bottom: 5rem;
      }

      .wide {
        width: 100%;
        margin: 10rem 0 10rem 0;

        .half-and-half {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 6rem;

          img {
            width: 100%;
          }

          .left-column,
          .right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
              margin-top: 2rem;
            }
          }
        }

        .two-one {
          margin-top: 15rem;
          display: grid;
          grid-template-columns: 2fr 1fr;
          gap: 6rem;

          h2 {
            margin-top: 0;
            margin-bottom: 3rem;
          }

          .text {
            .subheading {
              font-weight: bold;
              margin-top: 3rem;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }

  /*
  -----------------------------------------
  PROJECT DETAILS CARD
  -----------------------------------------
  */

  .project-details {
    margin: 8rem auto;
    width: 95%;
    max-width: 800px;

    @include glass;
    border: 2px solid $mid-grey;
    border-radius: 1rem;

    &__header {
      color: $mid-grey;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      margin-bottom: 1.2rem;
    }

    &__container {
      width: 100%;
      height: 100%;
      padding: 4rem 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    // LEFT COLUMN
    &__tech {
      display: flex;
      justify-content: center;
      &-item {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
    }

    // CENTRE COLUMN
    &__work {
      font-size: 1.6rem;
      display: flex;
      justify-content: center;

      &-text {
        line-height: 2.5rem;
      }
    }

    // RIGHT COLUMN
    &__links {
      display: flex;
      justify-content: center;
      .project__link {
        margin-bottom: 2rem;
      }
    }
  }

  /*
  -----------------------------------------
  PREVIOUS / NEXT
  -----------------------------------------
  */

  .more-projects {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }

    &__previous {
      text-align: right;
    }

    &__title {
      color: $mid-grey;
      font-size: 1.4rem;
      letter-spacing: 0.05rem;
      margin-bottom: 0.5rem;
    }
  }
}
