.project-detail-page {
  &__header {
    padding-top: calc((100vh - 75rem) / 2);
    height: 100vh;
    letter-spacing: 0.02rem;

    .container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: 12rem;

      // LEFT COLUMN
      .heading {
        text-align: right;

        &__container {
          height: 77%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          &-inner {
            position: absolute;
            left: 0;
          }
        }

        .project-name {
          font-size: 4.5rem;
        }

        .project-subheading {
          font-size: 1.6rem;
        }
      }

      // RIGHT COLUMN
      .description {
        font-size: 1.6rem;

        &__container {
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        &__text {
          margin-bottom: 3rem;
        }

        &__links {
          width: 100%;
          max-width: 480px;
          display: flex;
          align-items: flex-start;

          p {
            display: inline-block;
            margin: 0 1rem;
          }
        }
      }
    }
  }

  /*
  -----------------------------------------
  SCREEN SHOTS
  -----------------------------------------
  */

  .screen-shots {
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      position: absolute;
    }

    &__desktop {
      width: 62%;
      bottom: -17%;
      z-index: 1;
      box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
    }

    &__tablet {
      width: 32%;
      bottom: -34%;
      right: 0;
    }

    &__mobile {
      width: 20%;
      bottom: -35%;
      left: 0;
    }
  }
}
