.skills {
  // LEFT COLUMN
  &__title {
    margin-top: 15rem;
    margin-bottom: 3rem;
  }

  &__heading {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;

    &-text {
      font-size: 1.8rem;
      letter-spacing: 0.05rem;
      display: inline-block;
    }

    .fa-chevron-right {
      width: 0.8rem;
      display: inline-block;
      color: $highlight;
      margin-left: 1rem;
      position: relative;
      top: 1px;
      transition: all 300ms ease;
    }

    &:hover {
      .fa-chevron-right {
        animation: chevrondance 250ms;
      }
    }
  }

  &__content {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 1s ease;

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      line-height: 2.5rem;
      letter-spacing: 0.04rem;
    }
  }

  &__category {
    margin-bottom: 2rem;

    &.visible {
      .skills__heading {
        cursor: initial;
      }
      .skills__content {
        max-height: 500px;
        opacity: 1;
        pointer-events: initial;
        transform: translateY(0);
      }

      .fa-chevron-right {
        transform: translateX(0) rotate(90deg);
      }

      .skills__heading:hover {
        .fa-chevron-right {
          animation: none;
        }
      }
    }
  }
  // RIGHT COLUMN
  &__icons {
    position: relative;

    &-container {
      position: absolute;
      width: 450px;
      height: 280px;
      margin-top: 20%;
      overflow: hidden;
      opacity: 0;
      transform: scale(0);
      transition: all 500ms ease;
      transition-delay: initial;

      // border: 2px solid hotpink;

      &.visible {
        opacity: 1;
        transform: scale(1);
        transition-delay: 500ms;
      }

      .icon {
        width: 4rem;
        margin: 1rem;
        position: absolute;
        margin-left: 3rem;
        svg {
          fill: $light-grey;
          color: $light-grey;
        }

        #gulp-icon,
        #mongo-icon {
          transform: scale(0.8);
        }

        #php-icon {
          transform: scale(1.5);
        }

        #node-icon {
          transform: scale(1.8);
        }

        #mysql-icon {
          transform: scale(1.5);
        }

        #jquery-icon {
          transform: scale(1.3);
        }

        #sass-icon {
          transform: scale(1.3);
        }

        &:nth-child(1) {
          top: 0;
          left: 2%;
        }
        &:nth-child(2) {
          top: 8%;
          left: 28%;
        }
        &:nth-child(3) {
          top: 0;
          left: 50%;
        }
        &:nth-child(4) {
          top: 5%;
          left: 75%;
        }
        &:nth-child(5) {
          top: 30%;
          left: 10%;
        }
        &:nth-child(6) {
          top: 35%;
          left: 40%;
        }
        &:nth-child(7) {
          top: 30%;
          left: 70%;
        }
        &:nth-child(8) {
          top: 60%;
          left: 0;
        }
        &:nth-child(9) {
          top: 60%;
          left: 58%;
        }
        &:nth-child(10) {
          top: 65%;
          left: 30%;
        }
        &:nth-child(11) {
          top: 62%;
          left: 78%;
        }
      }
    }
  }
}

@keyframes chevrondance {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
