.project-detail-page {
  .various {
    &.custom-content {
      margin-top: 0;
    }

    &__header {
      padding-top: calc((100vh - 75rem) / 2);
      margin: 10rem 0;
    }
    &__title {
      text-align: center;
    }

    &__subheading,
    &__description {
      font-size: 1.6rem;
      text-align: center;
    }

    &__description {
      margin: 2rem 0 4rem 0;
    }

    &__screen-shots {
      position: relative;
      pointer-events: none;
      width: 100%;
      height: 550px;
      display: flex;
      justify-content: center;
      margin-bottom: 10%;

      @include lg-screen {
        margin-bottom: -5%;
        height: 500px;
      }

      @include md-screen {
        height: 400px;
      }

      @include xs-screen {
        height: 300px;
      }

      img {
        position: absolute;
      }

      &__desktop {
        width: 62%;
        top: 15%;
        z-index: 1;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.75);
      }

      &__tablet {
        width: 32%;
        top: 24%;
        right: 0;
      }

      &__mobile {
        width: 20%;
        top: 25%;
        left: 0;
      }
    }

    .links {
      margin-top: 3rem;

      .link-seperator {
        display: inline-block;
        margin: 0 1rem;
      }
    }
  }

  .tablet-only,
  .mobile-only {
    &__image {
      width: 100%;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        margin-top: 0;
      }
    }
  }

  .tablet-only {
    &__container {
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 5rem;

      @include md-screen {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }

    &__image-container {
      display: flex;
      align-items: center;

      @include md-screen {
        grid-row: 1;

        img {
          width: 50%;
          margin: 0 auto;
        }
      }
    }
  }

  .mobile-only {
    &__container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 10rem;
      @include md-screen {
        gap: 5rem;
      }

      @include xs-screen {
        grid-template-columns: 1fr;
        text-align: center;
      }
    }
    &__image-container {
      display: flex;
      align-items: center;

      @include xs-screen {
        justify-content: center;
        img {
          width: 50%;
        }
      }
    }
  }

  .drum-machine {
    &__image {
      width: 100%;
    }
  }
}
