@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.content {
  position: absolute; }

.content-enter {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.content-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms; }

.content-exit {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.content-exit-active {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms; }

.project-detail-page {
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }
  .project-detail-page.fade-in {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .project-detail-page.fade-out {
    opacity: 0;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px); }

.navbar {
  z-index: 999;
  width: 6.5rem;
  height: 75rem;
  position: fixed;
  top: calc((100vh - 75rem) / 2);
  left: 2rem;
  border-radius: 1rem;
  border: 2px solid #707070;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  background-color: rgba(29, 29, 29, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    .navbar {
      background-color: rgba(103, 103, 103, 0.2);
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px); } }
  @media (max-height: 760px) {
    .navbar {
      display: none; } }
  .navbar .logo {
    position: absolute;
    top: 0;
    left: 0;
    color: #dddbdb;
    border-bottom: 2px solid #707070;
    width: 100%;
    padding: 1.25rem 0 1rem 1.6rem; }
    .navbar .logo__million {
      position: absolute;
      width: 2.5rem;
      left: 1.8rem;
      top: 1.25rem;
      height: 0.4rem;
      background-color: #dddbdb; }
    .navbar .logo p {
      display: inline;
      font-size: 3.5rem;
      font-weight: bold; }
    .navbar .logo .aximilian {
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      position: absolute;
      display: inline-block;
      width: 0;
      opacity: 0;
      white-space: nowrap;
      overflow: hidden; }
  .navbar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6.5rem;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease; }
    .navbar__link:focus {
      outline: 0; }
      .navbar__link:focus .navbar__link-icon svg {
        color: #08fdd8; }
    .navbar__link-icon {
      position: relative;
      margin: 0 3rem 0 2rem; }
      .navbar__link-icon svg {
        -webkit-transition: all 350ms ease;
        -o-transition: all 350ms ease;
        transition: all 350ms ease;
        color: #dddbdb;
        width: 2.2rem; }
    .navbar__link-text {
      font-size: 1.8rem;
      height: 6.5rem;
      stroke: #08fdd8;
      fill: #dddbdb;
      stroke-width: 1;
      stroke-dasharray: 250;
      stroke-dashoffset: -250;
      -webkit-transition: all 2000ms ease-out;
      -o-transition: all 2000ms ease-out;
      transition: all 2000ms ease-out; }
      .navbar__link-text-container {
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        opacity: 0;
        -webkit-transform: translateX(-2rem);
            -ms-transform: translateX(-2rem);
                transform: translateX(-2rem); }
    .navbar__link:hover {
      background: rgba(0, 0, 0, 0.5); }
      .navbar__link:hover .navbar__link-icon svg {
        color: #08fdd8; }
      .navbar__link:hover .navbar__link-text {
        -webkit-transition: all 750ms ease;
        -o-transition: all 750ms ease;
        transition: all 750ms ease;
        stroke-dashoffset: 0;
        fill: transparent; }
    .navbar__link.active .navbar__link-icon svg {
      color: #08fdd8; }
  .navbar:hover {
    width: 22.5rem; }
    .navbar:hover .aximilian {
      opacity: 1;
      -webkit-animation: typing 750ms steps(12) forwards;
              animation: typing 750ms steps(12) forwards;
      -webkit-animation-delay: 500ms;
              animation-delay: 500ms; }
    .navbar:hover .navbar__link-text-container {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .navbar-enter {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px); }
  .navbar-enter-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .navbar-exit {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .navbar-exit-active {
    -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
            transform: translateX(-250px); }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-webkit-keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.mobile-menu {
  display: none;
  position: fixed;
  top: 1rem;
  width: 90vw;
  height: 6rem;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto;
  overflow: hidden;
  border: 2px solid #707070;
  border-radius: 1rem;
  background-color: rgba(29, 29, 29, 0.8);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  @media (max-height: 760px) {
    .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    .mobile-menu {
      background-color: rgba(103, 103, 103, 0.2);
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px); } }
  .mobile-menu__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 2px solid #707070;
    border-radius: 2px;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #dddbdb;
    width: 6rem;
    height: 100%; }
    .mobile-menu__logo-million {
      height: 0.3rem;
      width: 2.4rem;
      background-color: #dddbdb;
      position: absolute;
      top: 1rem; }
  .mobile-menu__container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -6rem; }
  .mobile-menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem; }
    .mobile-menu__icon svg {
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      height: 2.2rem; }
  .mobile-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mobile-menu__link.active, .mobile-menu__link:focus {
      outline: 0; }
      .mobile-menu__link.active .mobile-menu__icon svg, .mobile-menu__link:focus .mobile-menu__icon svg {
        color: #08fdd8; }
  .mobile-menu-enter {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }
  .mobile-menu-enter-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .mobile-menu-exit {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .mobile-menu-exit-active {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }

.social {
  position: fixed;
  right: 1rem;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  padding-top: 1rem;
  z-index: 999; }
  @media (max-height: 760px) {
    .social {
      display: none; } }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    .social {
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px); } }
  .social .link {
    margin: 0 0.5rem; }
    .social .link svg {
      height: 2rem;
      width: 2rem;
      color: #707070;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
    .social .link:hover svg {
      color: #08fdd8; }
  .social-enter {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px); }
  .social-enter-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .social-exit {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .social-exit-active {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px); }

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0; }

.projects {
  position: relative;
  z-index: 10;
  width: 100%;
  margin-bottom: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .projects .project-card {
    margin: 2rem 0;
    width: 95%;
    max-width: 800px;
    background-color: rgba(29, 29, 29, 0.8);
    border: 2px solid #707070;
    border-radius: 1rem; }
    @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
      .projects .project-card {
        background-color: rgba(103, 103, 103, 0.2);
        -webkit-backdrop-filter: blur(3px);
                backdrop-filter: blur(3px); } }
    .projects .project-card__header {
      color: #707070;
      font-size: 1.3rem;
      letter-spacing: 0.05rem;
      margin-bottom: 0.8rem; }
    .projects .project-card__container {
      width: 100%;
      height: 100%;
      padding: 6rem 4rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem; }
    .projects .project-card__name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: right; }
      .projects .project-card__name-text {
        font-size: 2.4rem; }
    .projects .project-card__details {
      padding-left: 33%; }
    .projects .project-card__work {
      margin-bottom: 3rem; }
    .projects .project-card__text {
      font-size: 1.6rem;
      margin-bottom: 0.3rem; }
    .projects .project-card__link {
      display: block;
      font-size: 1.6rem;
      text-decoration: none;
      position: relative;
      margin-bottom: 1.5rem;
      color: #dddbdb;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
      .projects .project-card__link::after {
        content: "";
        display: block;
        position: absolute;
        height: 0.2rem;
        width: 3rem;
        background-color: #08fdd8;
        bottom: -0.4rem;
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease; }
      .projects .project-card__link:focus {
        outline: 0; }
      .projects .project-card__link:hover, .projects .project-card__link:focus {
        color: white; }
        .projects .project-card__link:hover::after, .projects .project-card__link:focus::after {
          width: 5rem; }
    .projects .project-card__tech {
      text-align: center; }
      .projects .project-card__tech .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .projects .project-card__tech .container .icon {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 auto;
                  flex: 0 0 auto; }
          .projects .project-card__tech .container .icon svg {
            margin: 1.3rem;
            width: 28px; }
          .projects .project-card__tech .container .icon .fa-php {
            width: auto;
            height: 38px;
            margin: 0; }

/*
-----------------------------------------
RESETS
-----------------------------------------
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: #000; }

html,
body,
#root,
.App {
  height: 100%; }

/*
-----------------------------------------
FONTS
-----------------------------------------
*/
.archivo,
.page-header {
  font-family: "Archivo", "Roboto", sans-serif; }

a {
  color: inherit; }

h1 {
  font-size: 4rem;
  margin: 2rem 0;
  display: block; }

/*
-----------------------------------------
GLOBAL STYLING
-----------------------------------------
*/
.App {
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease; }
  .App.dark {
    color: #dddbdb; }
  .App.light {
    color: #000; }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease; }
  .background.dark {
    background-color: #000; }
  .background.light {
    background-color: #fff; }

.content {
  padding-left: 14rem;
  padding-right: 6rem;
  padding-top: calc((100vh - 75rem) / 2);
  width: 100%; }
  .content .page-header {
    text-align: center; }

.million {
  position: relative; }
  .million::before {
    content: "";
    display: block;
    position: absolute;
    left: 0.25rem;
    top: 0.1rem;
    width: 2.8rem;
    height: 0.45rem;
    background-color: #dddbdb; }
