@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.content {
  position: absolute; }

.content-enter {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px); }

.content-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms;
  -webkit-transition-delay: 300ms;
       -o-transition-delay: 300ms;
          transition-delay: 300ms; }

.content-exit {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.content-exit-active {
  opacity: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  -o-transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms; }

.navbar {
  z-index: 999;
  width: 6.5rem;
  height: 75rem;
  position: fixed;
  top: calc((100vh - 75rem) / 2);
  left: 2rem;
  border-radius: 1rem;
  border: 2px solid #707070;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow: hidden;
  background-color: rgba(29, 29, 29, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    .navbar {
      background-color: rgba(103, 103, 103, 0.2);
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px); } }
  @media (max-height: 760px) {
    .navbar {
      display: none; } }
  .navbar .logo {
    position: absolute;
    top: 0;
    left: 0;
    color: #dddbdb;
    border-bottom: 2px solid #707070;
    width: 100%;
    padding: 1.25rem 0 1rem 1.6rem; }
    .navbar .logo .million {
      position: absolute;
      width: 2.5rem;
      left: 1.8rem;
      top: 1.25rem;
      height: 0.4rem;
      background-color: #dddbdb; }
    .navbar .logo p {
      display: inline;
      font-size: 3.5rem;
      font-weight: bold; }
    .navbar .logo .aximilian {
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease;
      position: absolute;
      display: inline-block;
      width: 0;
      opacity: 0;
      white-space: nowrap;
      overflow: hidden; }
  .navbar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6.5rem;
    -webkit-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease; }
    .navbar__link:focus {
      outline: 0; }
      .navbar__link:focus .navbar__link-icon svg {
        color: #08fdd8; }
    .navbar__link-icon {
      position: relative;
      margin: 0 3rem 0 2rem; }
      .navbar__link-icon svg {
        -webkit-transition: all 350ms ease;
        -o-transition: all 350ms ease;
        transition: all 350ms ease;
        color: #dddbdb;
        width: 2.2rem; }
    .navbar__link-text {
      font-size: 1.8rem;
      height: 6.5rem;
      stroke: #08fdd8;
      fill: #dddbdb;
      stroke-width: 1;
      stroke-dasharray: 250;
      stroke-dashoffset: -250;
      -webkit-transition: all 2000ms ease-out;
      -o-transition: all 2000ms ease-out;
      transition: all 2000ms ease-out; }
      .navbar__link-text-container {
        -webkit-transition: all 250ms ease;
        -o-transition: all 250ms ease;
        transition: all 250ms ease;
        opacity: 0;
        -webkit-transform: translateX(-2rem);
            -ms-transform: translateX(-2rem);
                transform: translateX(-2rem); }
    .navbar__link:hover {
      background: rgba(0, 0, 0, 0.5); }
      .navbar__link:hover .navbar__link-icon svg {
        color: #08fdd8; }
      .navbar__link:hover .navbar__link-text {
        -webkit-transition: all 750ms ease;
        -o-transition: all 750ms ease;
        transition: all 750ms ease;
        stroke-dashoffset: 0;
        fill: transparent; }
    .navbar__link.active .navbar__link-icon svg {
      color: #08fdd8; }
  .navbar:hover {
    width: 22.5rem; }
    .navbar:hover .aximilian {
      opacity: 1;
      -webkit-animation: typing 750ms steps(12) forwards;
              animation: typing 750ms steps(12) forwards;
      -webkit-animation-delay: 500ms;
              animation-delay: 500ms; }
    .navbar:hover .navbar__link-text-container {
      opacity: 1;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .navbar-enter {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px); }
  .navbar-enter-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .navbar-exit {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .navbar-exit-active {
    -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
            transform: translateX(-250px); }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-webkit-keyframes blink {
  50% {
    border-color: transparent; } }

@keyframes blink {
  50% {
    border-color: transparent; } }

.mobile-menu {
  display: none;
  position: fixed;
  top: 1rem;
  width: 90vw;
  height: 6rem;
  left: 0;
  right: 0;
  z-index: 999;
  margin: auto;
  overflow: hidden;
  border: 2px solid #707070;
  border-radius: 1rem;
  background-color: rgba(29, 29, 29, 0.8);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  @media (max-height: 760px) {
    .mobile-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    .mobile-menu {
      background-color: rgba(103, 103, 103, 0.2);
      -webkit-backdrop-filter: blur(3px);
              backdrop-filter: blur(3px); } }
  .mobile-menu__logo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 2px solid #707070;
    border-radius: 2px;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #dddbdb;
    width: 6rem;
    height: 100%; }
    .mobile-menu__logo .million {
      height: 0.3rem;
      width: 2.4rem;
      background-color: #dddbdb;
      position: absolute;
      top: 1rem; }
  .mobile-menu__container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -6rem; }
  .mobile-menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem; }
    .mobile-menu__icon svg {
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
      height: 2.2rem; }
  .mobile-menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .mobile-menu__link.active, .mobile-menu__link:focus {
      outline: 0; }
      .mobile-menu__link.active .mobile-menu__icon svg, .mobile-menu__link:focus .mobile-menu__icon svg {
        color: #08fdd8; }
  .mobile-menu-enter {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }
  .mobile-menu-enter-active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .mobile-menu-exit {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .mobile-menu-exit-active {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }

.social {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }
  @media (max-height: 760px) {
    .social {
      display: none; } }
  .social__link {
    margin: 0 0.5rem; }
    .social__link svg {
      height: 2rem;
      color: #707070;
      -webkit-transition: all 250ms ease;
      -o-transition: all 250ms ease;
      transition: all 250ms ease; }
    .social__link:hover svg {
      color: #08fdd8; }
  .social-enter {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px); }
  .social-enter-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .social-exit {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .social-exit-active {
    -webkit-transform: translateX(200px);
        -ms-transform: translateX(200px);
            transform: translateX(200px); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; }

html,
body,
#root,
.App {
  height: 100%; }

.archivo {
  font-family: "Archivo", "Roboto", sans-serif; }

a {
  color: inherit; }

.App {
  -webkit-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease; }
  .App.dark {
    background-color: #000;
    color: #dddbdb; }
  .App.light {
    background-color: #fff;
    color: #000; }

.content {
  margin-left: 49vw;
  margin-top: 49vh; }
